version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: todolist_postgres
    environment:
      POSTGRES_USER: todouser
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: todolist_db
    ports:
      - "5432:5432"
    
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: